#stars {
  width: 1px;
  height: 1px;
  background: transparent;

  box-shadow: 1763px 1765px #fff, 434px 1891px #fff, 439px 1779px #fff,
    1539px 619px #fff, 478px 72px #fff, 1978px 14px #fff, 410px 15px #fff,
    1225px 1674px #fff, 701px 942px #fff, 155px 553px #fff, 1744px 1728px #fff,
    1853px 682px #fff, 470px 908px #fff, 1882px 957px #fff, 1677px 47px #fff,
    1216px 569px #fff, 813px 1386px #fff, 778px 332px #fff, 1408px 1286px #fff,
    247px 1027px #fff, 1213px 1710px #fff, 956px 784px #fff, 1304px 616px #fff,
    770px 1525px #fff, 163px 1909px #fff, 802px 568px #fff, 618px 1669px #fff,
    1109px 1830px #fff, 1690px 653px #fff, 366px 1374px #fff, 1369px 1728px #fff,
    104px 1621px #fff, 818px 571px #fff, 1571px 16px #fff, 1340px 126px #fff,
    1697px 95px #fff, 993px 464px #fff, 471px 457px #fff, 1201px 624px #fff,
    557px 1529px #fff, 1739px 497px #fff, 1995px 879px #fff, 38px 1359px #fff,
    1254px 1342px #fff, 1554px 1902px #fff, 285px 1550px #fff, 1992px 208px #fff,
    844px 621px #fff, 1992px 1266px #fff, 1766px 1448px #fff, 676px 985px #fff,
    586px 7px #fff, 467px 1153px #fff, 314px 855px #fff, 598px 273px #fff,
    1074px 186px #fff, 1972px 472px #fff, 1485px 118px #fff, 1386px 1627px #fff,
    631px 812px #fff, 1005px 1247px #fff, 1236px 1791px #fff, 63px 4px #fff,
    1172px 1629px #fff, 1247px 1744px #fff, 1048px 1375px #fff,
    897px 1714px #fff, 405px 417px #fff, 1435px 129px #fff, 1224px 1552px #fff,
    1000px 1118px #fff, 1058px 1336px #fff, 1519px 1917px #fff, 816px 683px #fff,
    1417px 392px #fff, 1567px 729px #fff, 1357px 4px #fff, 1703px 1847px #fff,
    1510px 1525px #fff, 725px 1231px #fff, 774px 1416px #fff, 1574px 1241px #fff,
    970px 972px #fff, 1637px 673px #fff, 1973px 302px #fff, 527px 419px #fff,
    260px 1672px #fff, 1742px 719px #fff, 219px 1284px #fff, 1518px 1286px #fff,
    1152px 1956px #fff, 1442px 1557px #fff, 733px 1810px #fff,
    1976px 1926px #fff, 235px 430px #fff, 511px 33px #fff, 619px 1957px #fff,
    1104px 1582px #fff, 27px 558px #fff, 675px 699px #fff, 1023px 321px #fff,
    662px 455px #fff, 1837px 1738px #fff, 1118px 1813px #fff, 931px 1239px #fff,
    767px 718px #fff, 1057px 1532px #fff, 446px 1626px #fff, 1973px 114px #fff,
    82px 1291px #fff, 1697px 1358px #fff, 1791px 1906px #fff, 1705px 762px #fff,
    1651px 168px #fff, 1281px 1057px #fff, 1556px 1129px #fff, 476px 218px #fff,
    902px 97px #fff, 1268px 104px #fff, 380px 1941px #fff, 534px 166px #fff,
    1778px 1123px #fff, 838px 1023px #fff, 1193px 1923px #fff,
    1942px 1693px #fff, 1243px 93px #fff, 846px 1139px #fff, 1492px 842px #fff,
    1869px 518px #fff, 1898px 29px #fff, 1783px 1868px #fff, 1449px 1604px #fff,
    1254px 1846px #fff, 904px 418px #fff, 1640px 555px #fff, 808px 77px #fff,
    1926px 1778px #fff, 1583px 290px #fff, 1519px 854px #fff, 1147px 1536px #fff,
    896px 1965px #fff, 1707px 1018px #fff, 890px 304px #fff, 1154px 509px #fff,
    14px 1976px #fff, 628px 1892px #fff, 794px 1529px #fff, 68px 623px #fff,
    1944px 1777px #fff, 1848px 1147px #fff, 40px 811px #fff, 478px 736px #fff,
    164px 409px #fff, 1756px 1842px #fff, 801px 1035px #fff, 1502px 1003px #fff,
    1383px 719px #fff, 1484px 832px #fff, 178px 528px #fff, 142px 824px #fff,
    88px 1749px #fff, 771px 405px #fff, 950px 1039px #fff, 321px 1196px #fff,
    1088px 1886px #fff, 1706px 1631px #fff, 55px 17px #fff, 652px 944px #fff,
    886px 1910px #fff, 580px 1390px #fff, 1835px 1735px #fff, 1808px 81px #fff,
    1394px 201px #fff, 40px 929px #fff, 493px 875px #fff, 1697px 1051px #fff,
    1084px 1395px #fff, 1729px 260px #fff, 869px 1018px #fff, 1344px 446px #fff,
    657px 1145px #fff, 728px 1873px #fff, 1396px 628px #fff, 516px 804px #fff,
    59px 1960px #fff, 1253px 583px #fff, 1024px 682px #fff, 1850px 261px #fff,
    911px 1847px #fff, 1270px 1901px #fff, 364px 1890px #fff, 508px 153px #fff,
    1149px 851px #fff, 997px 1892px #fff, 1074px 160px #fff, 1044px 1280px #fff,
    1525px 1113px #fff, 1948px 573px #fff, 1396px 214px #fff, 1244px 1873px #fff,
    134px 454px #fff, 1294px 1834px #fff, 593px 1513px #fff, 583px 1332px #fff,
    1551px 1415px #fff, 948px 467px #fff, 154px 1113px #fff, 841px 887px #fff,
    188px 1780px #fff, 1053px 379px #fff, 461px 378px #fff, 506px 988px #fff,
    565px 600px #fff, 1772px 1289px #fff, 769px 1103px #fff, 1207px 475px #fff,
    915px 436px #fff, 1680px 1537px #fff, 1908px 903px #fff, 120px 992px #fff,
    863px 1267px #fff, 1965px 423px #fff, 1377px 1813px #fff, 1973px 1421px #fff,
    1776px 139px #fff, 1327px 658px #fff, 1192px 1093px #fff, 1701px 1402px #fff,
    26px 1631px #fff, 1833px 93px #fff, 27px 1085px #fff, 226px 519px #fff,
    1048px 469px #fff, 1826px 1667px #fff, 93px 543px #fff, 1150px 623px #fff,
    1703px 578px #fff, 1384px 544px #fff, 838px 581px #fff, 591px 1965px #fff,
    1911px 1271px #fff, 228px 1678px #fff, 396px 1184px #fff, 395px 1169px #fff,
    1992px 1760px #fff, 1260px 829px #fff, 460px 1830px #fff, 1102px 603px #fff,
    1911px 1666px #fff, 1221px 553px #fff, 1919px 1175px #fff, 802px 172px #fff,
    296px 783px #fff, 667px 1911px #fff, 1092px 1909px #fff, 198px 1922px #fff,
    1365px 1927px #fff, 1775px 871px #fff, 530px 1371px #fff, 755px 570px #fff,
    747px 1521px #fff, 1845px 722px #fff, 373px 1558px #fff, 296px 1932px #fff,
    65px 976px #fff, 1790px 256px #fff, 1901px 84px #fff, 295px 299px #fff,
    1493px 1899px #fff, 324px 874px #fff, 1790px 1869px #fff, 390px 922px #fff,
    1348px 268px #fff, 1756px 1250px #fff, 54px 37px #fff, 1332px 62px #fff,
    1247px 1209px #fff, 1338px 1140px #fff, 331px 748px #fff, 1178px 1361px #fff,
    459px 1332px #fff, 1623px 709px #fff, 715px 1155px #fff, 1663px 1232px #fff,
    1210px 1453px #fff, 647px 298px #fff, 846px 1448px #fff, 902px 909px #fff,
    1220px 1258px #fff, 495px 1508px #fff, 1979px 918px #fff, 877px 1963px #fff,
    183px 402px #fff, 1972px 840px #fff, 732px 1751px #fff, 1246px 1215px #fff,
    618px 843px #fff, 1698px 39px #fff, 1766px 1155px #fff, 1923px 1612px #fff,
    1671px 57px #fff, 870px 209px #fff, 58px 1132px #fff, 1943px 129px #fff,
    444px 1605px #fff, 215px 1356px #fff, 680px 1176px #fff, 1608px 1801px #fff,
    1547px 316px #fff, 1796px 53px #fff, 1811px 1233px #fff, 1821px 54px #fff,
    1657px 1682px #fff, 1740px 80px #fff, 138px 1612px #fff, 103px 236px #fff,
    1540px 1128px #fff, 1540px 1677px #fff, 82px 1668px #fff, 1391px 41px #fff,
    863px 1007px #fff, 969px 746px #fff, 1120px 67px #fff, 1289px 632px #fff,
    1582px 401px #fff, 834px 1270px #fff, 1967px 759px #fff, 212px 1215px #fff,
    680px 1396px #fff, 338px 1114px #fff, 597px 1249px #fff, 1012px 1942px #fff,
    244px 1943px #fff, 435px 881px #fff, 1463px 1126px #fff, 1741px 1400px #fff,
    410px 1292px #fff, 1902px 447px #fff, 1729px 1476px #fff, 976px 451px #fff,
    1476px 590px #fff, 283px 629px #fff, 1801px 157px #fff, 653px 736px #fff,
    1657px 1217px #fff, 825px 151px #fff, 362px 1353px #fff, 1030px 600px #fff,
    1304px 945px #fff, 1879px 491px #fff, 314px 1810px #fff, 1293px 1766px #fff,
    723px 1208px #fff, 59px 501px #fff, 1231px 1306px #fff, 683px 1101px #fff,
    323px 968px #fff, 1783px 743px #fff, 237px 190px #fff, 358px 525px #fff,
    284px 1707px #fff, 1760px 87px #fff, 412px 47px #fff, 1245px 418px #fff,
    1491px 766px #fff, 1007px 940px #fff, 1994px 405px #fff, 1100px 1662px #fff,
    1505px 96px #fff, 406px 1285px #fff, 412px 450px #fff, 600px 1876px #fff,
    239px 1626px #fff, 152px 233px #fff, 180px 1219px #fff, 1569px 313px #fff,
    365px 1614px #fff, 38px 1868px #fff, 998px 1741px #fff, 1966px 1698px #fff,
    1191px 1037px #fff, 135px 462px #fff, 448px 303px #fff, 784px 702px #fff,
    361px 146px #fff, 807px 1323px #fff, 895px 323px #fff, 1112px 1708px #fff,
    1552px 1930px #fff, 758px 527px #fff, 1731px 360px #fff, 408px 1615px #fff,
    1810px 71px #fff, 1498px 408px #fff, 843px 1373px #fff, 430px 1412px #fff,
    1988px 1082px #fff, 1846px 81px #fff, 692px 926px #fff, 434px 1755px #fff,
    184px 1863px #fff, 707px 559px #fff, 1977px 228px #fff, 446px 1721px #fff,
    702px 1653px #fff, 1190px 594px #fff, 1565px 599px #fff, 740px 559px #fff,
    1694px 1692px #fff, 158px 89px #fff, 167px 1300px #fff, 402px 499px #fff,
    617px 1842px #fff, 1044px 395px #fff, 1845px 1011px #fff, 522px 1713px #fff,
    1227px 922px #fff, 1916px 228px #fff, 865px 1646px #fff, 1833px 1204px #fff,
    96px 1013px #fff, 422px 580px #fff, 1493px 1523px #fff, 1077px 1493px #fff,
    1295px 1300px #fff, 998px 1876px #fff, 1897px 1457px #fff, 1681px 688px #fff,
    878px 1087px #fff, 1330px 68px #fff, 791px 558px #fff, 79px 1215px #fff,
    671px 1648px #fff, 1863px 1117px #fff, 1695px 111px #fff, 62px 1583px #fff,
    275px 651px #fff, 422px 134px #fff, 1440px 880px #fff, 1395px 473px #fff,
    709px 391px #fff, 985px 468px #fff, 746px 1857px #fff, 316px 1739px #fff,
    1251px 1276px #fff, 1439px 1160px #fff, 1528px 730px #fff,
    1377px 1826px #fff, 989px 871px #fff, 1436px 1574px #fff, 735px 1760px #fff,
    592px 1759px #fff, 1792px 462px #fff, 331px 323px #fff, 268px 102px #fff,
    478px 442px #fff, 1574px 353px #fff, 288px 1561px #fff, 1186px 618px #fff,
    221px 1940px #fff, 785px 1994px #fff, 143px 264px #fff, 18px 362px #fff,
    1405px 1207px #fff, 239px 549px #fff, 292px 1575px #fff, 1783px 1760px #fff,
    1215px 357px #fff, 507px 1725px #fff, 1947px 797px #fff, 940px 602px #fff,
    791px 1455px #fff, 1754px 1598px #fff, 318px 496px #fff, 1106px 858px #fff,
    876px 1905px #fff, 1824px 1646px #fff, 1216px 712px #fff, 1236px 1747px #fff,
    757px 583px #fff, 1543px 410px #fff, 642px 1287px #fff, 428px 528px #fff,
    1274px 607px #fff, 1475px 524px #fff, 411px 114px #fff, 1795px 604px #fff,
    1944px 1543px #fff, 1225px 655px #fff, 788px 1383px #fff, 1888px 311px #fff,
    1845px 376px #fff, 517px 1236px #fff, 475px 895px #fff, 1567px 15px #fff,
    868px 1914px #fff, 954px 32px #fff, 1382px 1563px #fff, 522px 1249px #fff,
    1367px 213px #fff, 1539px 929px #fff, 1812px 654px #fff, 987px 1317px #fff,
    1922px 243px #fff, 1820px 562px #fff, 1326px 1371px #fff, 1582px 13px #fff,
    1841px 1911px #fff, 867px 1773px #fff, 1794px 1138px #fff,
    1536px 1750px #fff, 991px 1637px #fff, 828px 1111px #fff, 347px 1230px #fff,
    1652px 1288px #fff, 341px 202px #fff, 1881px 447px #fff, 414px 1235px #fff,
    79px 676px #fff, 1783px 790px #fff, 426px 889px #fff, 1264px 1449px #fff,
    1174px 934px #fff, 462px 224px #fff, 1443px 1662px #fff, 1192px 1443px #fff,
    395px 1616px #fff, 783px 572px #fff, 1704px 1671px #fff, 1936px 1841px #fff,
    79px 703px #fff, 499px 1891px #fff, 790px 643px #fff, 1086px 1596px #fff,
    316px 1611px #fff, 1981px 52px #fff, 876px 519px #fff, 1133px 503px #fff,
    1853px 1933px #fff, 1320px 1612px #fff, 1533px 1635px #fff,
    538px 1830px #fff, 124px 264px #fff, 117px 22px #fff, 705px 816px #fff,
    773px 1876px #fff, 686px 7px #fff, 833px 554px #fff, 830px 190px #fff,
    1168px 809px #fff, 1103px 1861px #fff, 1733px 403px #fff, 1859px 273px #fff,
    737px 1813px #fff, 1883px 1948px #fff, 464px 1286px #fff, 1171px 1948px #fff,
    1777px 1545px #fff, 1051px 502px #fff, 1481px 1691px #fff, 838px 237px #fff,
    1517px 1234px #fff, 813px 1646px #fff, 664px 1324px #fff, 1867px 338px #fff,
    157px 291px #fff, 385px 806px #fff, 1156px 1328px #fff, 302px 1046px #fff,
    1683px 839px #fff, 1255px 359px #fff, 409px 1785px #fff, 1666px 1732px #fff,
    20px 1405px #fff, 54px 1009px #fff, 204px 181px #fff, 947px 1789px #fff,
    282px 122px #fff, 323px 584px #fff, 1559px 1375px #fff, 1109px 1660px #fff,
    591px 1238px #fff, 691px 673px #fff, 1619px 1309px #fff, 1678px 946px #fff,
    1072px 1732px #fff, 1649px 632px #fff, 423px 1920px #fff, 77px 808px #fff,
    462px 742px #fff, 403px 136px #fff, 380px 864px #fff, 1128px 1536px #fff,
    1255px 1948px #fff, 1289px 1102px #fff, 371px 1230px #fff, 155px 1118px #fff,
    1919px 1757px #fff, 1112px 1411px #fff, 149px 1532px #fff, 404px 1332px #fff,
    122px 1976px #fff, 505px 482px #fff, 227px 1574px #fff, 566px 1487px #fff,
    76px 1080px #fff, 1327px 797px #fff, 1937px 363px #fff, 530px 1348px #fff,
    1894px 819px #fff, 833px 691px #fff, 1998px 1269px #fff, 799px 492px #fff,
    310px 104px #fff, 1129px 1017px #fff, 1311px 1775px #fff, 1814px 1867px #fff,
    205px 525px #fff, 1197px 1563px #fff, 10px 823px #fff, 776px 1783px #fff,
    259px 249px #fff, 1472px 1393px #fff, 992px 1172px #fff, 838px 900px #fff,
    1934px 1843px #fff, 511px 1215px #fff, 665px 1741px #fff, 1472px 989px #fff,
    973px 748px #fff, 905px 1381px #fff, 960px 1286px #fff, 1082px 553px #fff,
    990px 1578px #fff, 964px 1737px #fff, 1319px 1399px #fff, 1340px 578px #fff,
    702px 329px #fff, 1913px 466px #fff, 798px 1972px #fff, 1873px 409px #fff,
    1407px 696px #fff, 1657px 1562px #fff, 1532px 858px #fff, 1774px 1310px #fff,
    406px 1587px #fff, 1816px 1174px #fff, 1446px 1086px #fff, 216px 920px #fff,
    89px 645px #fff, 1873px 82px #fff, 536px 981px #fff, 1472px 401px #fff,
    922px 1114px #fff, 1253px 53px #fff, 1009px 329px #fff, 1735px 1636px #fff,
    1043px 1970px #fff, 1316px 1457px #fff, 844px 721px #fff, 1429px 1365px #fff,
    150px 1858px #fff, 485px 743px #fff, 701px 1871px #fff, 1721px 339px #fff,
    79px 221px #fff, 8px 1220px #fff, 734px 1297px #fff, 358px 904px #fff,
    1399px 1644px #fff, 851px 1921px #fff, 873px 1082px #fff, 1799px 540px #fff,
    1014px 1602px #fff, 485px 79px #fff, 692px 525px #fff, 1255px 587px #fff,
    798px 1376px #fff, 400px 32px #fff, 1800px 919px #fff, 169px 986px #fff,
    485px 562px #fff, 1501px 1667px #fff, 1957px 1128px #fff, 908px 1951px #fff,
    439px 882px #fff, 1423px 581px #fff, 301px 1747px #fff, 1777px 494px #fff,
    1387px 922px #fff, 590px 1155px #fff, 1980px 760px #fff, 431px 1848px #fff,
    130px 1433px #fff, 1620px 1638px #fff, 1377px 1235px #fff, 1370px 599px #fff,
    922px 198px #fff, 740px 1157px #fff, 1264px 1464px #fff;
  animation: animStar 50s linear infinite;
  -webkit-animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1763px 1765px #fff, 434px 1891px #fff, 439px 1779px #fff,
    1539px 619px #fff, 478px 72px #fff, 1978px 14px #fff, 410px 15px #fff,
    1225px 1674px #fff, 701px 942px #fff, 155px 553px #fff, 1744px 1728px #fff,
    1853px 682px #fff, 470px 908px #fff, 1882px 957px #fff, 1677px 47px #fff,
    1216px 569px #fff, 813px 1386px #fff, 778px 332px #fff, 1408px 1286px #fff,
    247px 1027px #fff, 1213px 1710px #fff, 956px 784px #fff, 1304px 616px #fff,
    770px 1525px #fff, 163px 1909px #fff, 802px 568px #fff, 618px 1669px #fff,
    1109px 1830px #fff, 1690px 653px #fff, 366px 1374px #fff, 1369px 1728px #fff,
    104px 1621px #fff, 818px 571px #fff, 1571px 16px #fff, 1340px 126px #fff,
    1697px 95px #fff, 993px 464px #fff, 471px 457px #fff, 1201px 624px #fff,
    557px 1529px #fff, 1739px 497px #fff, 1995px 879px #fff, 38px 1359px #fff,
    1254px 1342px #fff, 1554px 1902px #fff, 285px 1550px #fff, 1992px 208px #fff,
    844px 621px #fff, 1992px 1266px #fff, 1766px 1448px #fff, 676px 985px #fff,
    586px 7px #fff, 467px 1153px #fff, 314px 855px #fff, 598px 273px #fff,
    1074px 186px #fff, 1972px 472px #fff, 1485px 118px #fff, 1386px 1627px #fff,
    631px 812px #fff, 1005px 1247px #fff, 1236px 1791px #fff, 63px 4px #fff,
    1172px 1629px #fff, 1247px 1744px #fff, 1048px 1375px #fff,
    897px 1714px #fff, 405px 417px #fff, 1435px 129px #fff, 1224px 1552px #fff,
    1000px 1118px #fff, 1058px 1336px #fff, 1519px 1917px #fff, 816px 683px #fff,
    1417px 392px #fff, 1567px 729px #fff, 1357px 4px #fff, 1703px 1847px #fff,
    1510px 1525px #fff, 725px 1231px #fff, 774px 1416px #fff, 1574px 1241px #fff,
    970px 972px #fff, 1637px 673px #fff, 1973px 302px #fff, 527px 419px #fff,
    260px 1672px #fff, 1742px 719px #fff, 219px 1284px #fff, 1518px 1286px #fff,
    1152px 1956px #fff, 1442px 1557px #fff, 733px 1810px #fff,
    1976px 1926px #fff, 235px 430px #fff, 511px 33px #fff, 619px 1957px #fff,
    1104px 1582px #fff, 27px 558px #fff, 675px 699px #fff, 1023px 321px #fff,
    662px 455px #fff, 1837px 1738px #fff, 1118px 1813px #fff, 931px 1239px #fff,
    767px 718px #fff, 1057px 1532px #fff, 446px 1626px #fff, 1973px 114px #fff,
    82px 1291px #fff, 1697px 1358px #fff, 1791px 1906px #fff, 1705px 762px #fff,
    1651px 168px #fff, 1281px 1057px #fff, 1556px 1129px #fff, 476px 218px #fff,
    902px 97px #fff, 1268px 104px #fff, 380px 1941px #fff, 534px 166px #fff,
    1778px 1123px #fff, 838px 1023px #fff, 1193px 1923px #fff,
    1942px 1693px #fff, 1243px 93px #fff, 846px 1139px #fff, 1492px 842px #fff,
    1869px 518px #fff, 1898px 29px #fff, 1783px 1868px #fff, 1449px 1604px #fff,
    1254px 1846px #fff, 904px 418px #fff, 1640px 555px #fff, 808px 77px #fff,
    1926px 1778px #fff, 1583px 290px #fff, 1519px 854px #fff, 1147px 1536px #fff,
    896px 1965px #fff, 1707px 1018px #fff, 890px 304px #fff, 1154px 509px #fff,
    14px 1976px #fff, 628px 1892px #fff, 794px 1529px #fff, 68px 623px #fff,
    1944px 1777px #fff, 1848px 1147px #fff, 40px 811px #fff, 478px 736px #fff,
    164px 409px #fff, 1756px 1842px #fff, 801px 1035px #fff, 1502px 1003px #fff,
    1383px 719px #fff, 1484px 832px #fff, 178px 528px #fff, 142px 824px #fff,
    88px 1749px #fff, 771px 405px #fff, 950px 1039px #fff, 321px 1196px #fff,
    1088px 1886px #fff, 1706px 1631px #fff, 55px 17px #fff, 652px 944px #fff,
    886px 1910px #fff, 580px 1390px #fff, 1835px 1735px #fff, 1808px 81px #fff,
    1394px 201px #fff, 40px 929px #fff, 493px 875px #fff, 1697px 1051px #fff,
    1084px 1395px #fff, 1729px 260px #fff, 869px 1018px #fff, 1344px 446px #fff,
    657px 1145px #fff, 728px 1873px #fff, 1396px 628px #fff, 516px 804px #fff,
    59px 1960px #fff, 1253px 583px #fff, 1024px 682px #fff, 1850px 261px #fff,
    911px 1847px #fff, 1270px 1901px #fff, 364px 1890px #fff, 508px 153px #fff,
    1149px 851px #fff, 997px 1892px #fff, 1074px 160px #fff, 1044px 1280px #fff,
    1525px 1113px #fff, 1948px 573px #fff, 1396px 214px #fff, 1244px 1873px #fff,
    134px 454px #fff, 1294px 1834px #fff, 593px 1513px #fff, 583px 1332px #fff,
    1551px 1415px #fff, 948px 467px #fff, 154px 1113px #fff, 841px 887px #fff,
    188px 1780px #fff, 1053px 379px #fff, 461px 378px #fff, 506px 988px #fff,
    565px 600px #fff, 1772px 1289px #fff, 769px 1103px #fff, 1207px 475px #fff,
    915px 436px #fff, 1680px 1537px #fff, 1908px 903px #fff, 120px 992px #fff,
    863px 1267px #fff, 1965px 423px #fff, 1377px 1813px #fff, 1973px 1421px #fff,
    1776px 139px #fff, 1327px 658px #fff, 1192px 1093px #fff, 1701px 1402px #fff,
    26px 1631px #fff, 1833px 93px #fff, 27px 1085px #fff, 226px 519px #fff,
    1048px 469px #fff, 1826px 1667px #fff, 93px 543px #fff, 1150px 623px #fff,
    1703px 578px #fff, 1384px 544px #fff, 838px 581px #fff, 591px 1965px #fff,
    1911px 1271px #fff, 228px 1678px #fff, 396px 1184px #fff, 395px 1169px #fff,
    1992px 1760px #fff, 1260px 829px #fff, 460px 1830px #fff, 1102px 603px #fff,
    1911px 1666px #fff, 1221px 553px #fff, 1919px 1175px #fff, 802px 172px #fff,
    296px 783px #fff, 667px 1911px #fff, 1092px 1909px #fff, 198px 1922px #fff,
    1365px 1927px #fff, 1775px 871px #fff, 530px 1371px #fff, 755px 570px #fff,
    747px 1521px #fff, 1845px 722px #fff, 373px 1558px #fff, 296px 1932px #fff,
    65px 976px #fff, 1790px 256px #fff, 1901px 84px #fff, 295px 299px #fff,
    1493px 1899px #fff, 324px 874px #fff, 1790px 1869px #fff, 390px 922px #fff,
    1348px 268px #fff, 1756px 1250px #fff, 54px 37px #fff, 1332px 62px #fff,
    1247px 1209px #fff, 1338px 1140px #fff, 331px 748px #fff, 1178px 1361px #fff,
    459px 1332px #fff, 1623px 709px #fff, 715px 1155px #fff, 1663px 1232px #fff,
    1210px 1453px #fff, 647px 298px #fff, 846px 1448px #fff, 902px 909px #fff,
    1220px 1258px #fff, 495px 1508px #fff, 1979px 918px #fff, 877px 1963px #fff,
    183px 402px #fff, 1972px 840px #fff, 732px 1751px #fff, 1246px 1215px #fff,
    618px 843px #fff, 1698px 39px #fff, 1766px 1155px #fff, 1923px 1612px #fff,
    1671px 57px #fff, 870px 209px #fff, 58px 1132px #fff, 1943px 129px #fff,
    444px 1605px #fff, 215px 1356px #fff, 680px 1176px #fff, 1608px 1801px #fff,
    1547px 316px #fff, 1796px 53px #fff, 1811px 1233px #fff, 1821px 54px #fff,
    1657px 1682px #fff, 1740px 80px #fff, 138px 1612px #fff, 103px 236px #fff,
    1540px 1128px #fff, 1540px 1677px #fff, 82px 1668px #fff, 1391px 41px #fff,
    863px 1007px #fff, 969px 746px #fff, 1120px 67px #fff, 1289px 632px #fff,
    1582px 401px #fff, 834px 1270px #fff, 1967px 759px #fff, 212px 1215px #fff,
    680px 1396px #fff, 338px 1114px #fff, 597px 1249px #fff, 1012px 1942px #fff,
    244px 1943px #fff, 435px 881px #fff, 1463px 1126px #fff, 1741px 1400px #fff,
    410px 1292px #fff, 1902px 447px #fff, 1729px 1476px #fff, 976px 451px #fff,
    1476px 590px #fff, 283px 629px #fff, 1801px 157px #fff, 653px 736px #fff,
    1657px 1217px #fff, 825px 151px #fff, 362px 1353px #fff, 1030px 600px #fff,
    1304px 945px #fff, 1879px 491px #fff, 314px 1810px #fff, 1293px 1766px #fff,
    723px 1208px #fff, 59px 501px #fff, 1231px 1306px #fff, 683px 1101px #fff,
    323px 968px #fff, 1783px 743px #fff, 237px 190px #fff, 358px 525px #fff,
    284px 1707px #fff, 1760px 87px #fff, 412px 47px #fff, 1245px 418px #fff,
    1491px 766px #fff, 1007px 940px #fff, 1994px 405px #fff, 1100px 1662px #fff,
    1505px 96px #fff, 406px 1285px #fff, 412px 450px #fff, 600px 1876px #fff,
    239px 1626px #fff, 152px 233px #fff, 180px 1219px #fff, 1569px 313px #fff,
    365px 1614px #fff, 38px 1868px #fff, 998px 1741px #fff, 1966px 1698px #fff,
    1191px 1037px #fff, 135px 462px #fff, 448px 303px #fff, 784px 702px #fff,
    361px 146px #fff, 807px 1323px #fff, 895px 323px #fff, 1112px 1708px #fff,
    1552px 1930px #fff, 758px 527px #fff, 1731px 360px #fff, 408px 1615px #fff,
    1810px 71px #fff, 1498px 408px #fff, 843px 1373px #fff, 430px 1412px #fff,
    1988px 1082px #fff, 1846px 81px #fff, 692px 926px #fff, 434px 1755px #fff,
    184px 1863px #fff, 707px 559px #fff, 1977px 228px #fff, 446px 1721px #fff,
    702px 1653px #fff, 1190px 594px #fff, 1565px 599px #fff, 740px 559px #fff,
    1694px 1692px #fff, 158px 89px #fff, 167px 1300px #fff, 402px 499px #fff,
    617px 1842px #fff, 1044px 395px #fff, 1845px 1011px #fff, 522px 1713px #fff,
    1227px 922px #fff, 1916px 228px #fff, 865px 1646px #fff, 1833px 1204px #fff,
    96px 1013px #fff, 422px 580px #fff, 1493px 1523px #fff, 1077px 1493px #fff,
    1295px 1300px #fff, 998px 1876px #fff, 1897px 1457px #fff, 1681px 688px #fff,
    878px 1087px #fff, 1330px 68px #fff, 791px 558px #fff, 79px 1215px #fff,
    671px 1648px #fff, 1863px 1117px #fff, 1695px 111px #fff, 62px 1583px #fff,
    275px 651px #fff, 422px 134px #fff, 1440px 880px #fff, 1395px 473px #fff,
    709px 391px #fff, 985px 468px #fff, 746px 1857px #fff, 316px 1739px #fff,
    1251px 1276px #fff, 1439px 1160px #fff, 1528px 730px #fff,
    1377px 1826px #fff, 989px 871px #fff, 1436px 1574px #fff, 735px 1760px #fff,
    592px 1759px #fff, 1792px 462px #fff, 331px 323px #fff, 268px 102px #fff,
    478px 442px #fff, 1574px 353px #fff, 288px 1561px #fff, 1186px 618px #fff,
    221px 1940px #fff, 785px 1994px #fff, 143px 264px #fff, 18px 362px #fff,
    1405px 1207px #fff, 239px 549px #fff, 292px 1575px #fff, 1783px 1760px #fff,
    1215px 357px #fff, 507px 1725px #fff, 1947px 797px #fff, 940px 602px #fff,
    791px 1455px #fff, 1754px 1598px #fff, 318px 496px #fff, 1106px 858px #fff,
    876px 1905px #fff, 1824px 1646px #fff, 1216px 712px #fff, 1236px 1747px #fff,
    757px 583px #fff, 1543px 410px #fff, 642px 1287px #fff, 428px 528px #fff,
    1274px 607px #fff, 1475px 524px #fff, 411px 114px #fff, 1795px 604px #fff,
    1944px 1543px #fff, 1225px 655px #fff, 788px 1383px #fff, 1888px 311px #fff,
    1845px 376px #fff, 517px 1236px #fff, 475px 895px #fff, 1567px 15px #fff,
    868px 1914px #fff, 954px 32px #fff, 1382px 1563px #fff, 522px 1249px #fff,
    1367px 213px #fff, 1539px 929px #fff, 1812px 654px #fff, 987px 1317px #fff,
    1922px 243px #fff, 1820px 562px #fff, 1326px 1371px #fff, 1582px 13px #fff,
    1841px 1911px #fff, 867px 1773px #fff, 1794px 1138px #fff,
    1536px 1750px #fff, 991px 1637px #fff, 828px 1111px #fff, 347px 1230px #fff,
    1652px 1288px #fff, 341px 202px #fff, 1881px 447px #fff, 414px 1235px #fff,
    79px 676px #fff, 1783px 790px #fff, 426px 889px #fff, 1264px 1449px #fff,
    1174px 934px #fff, 462px 224px #fff, 1443px 1662px #fff, 1192px 1443px #fff,
    395px 1616px #fff, 783px 572px #fff, 1704px 1671px #fff, 1936px 1841px #fff,
    79px 703px #fff, 499px 1891px #fff, 790px 643px #fff, 1086px 1596px #fff,
    316px 1611px #fff, 1981px 52px #fff, 876px 519px #fff, 1133px 503px #fff,
    1853px 1933px #fff, 1320px 1612px #fff, 1533px 1635px #fff,
    538px 1830px #fff, 124px 264px #fff, 117px 22px #fff, 705px 816px #fff,
    773px 1876px #fff, 686px 7px #fff, 833px 554px #fff, 830px 190px #fff,
    1168px 809px #fff, 1103px 1861px #fff, 1733px 403px #fff, 1859px 273px #fff,
    737px 1813px #fff, 1883px 1948px #fff, 464px 1286px #fff, 1171px 1948px #fff,
    1777px 1545px #fff, 1051px 502px #fff, 1481px 1691px #fff, 838px 237px #fff,
    1517px 1234px #fff, 813px 1646px #fff, 664px 1324px #fff, 1867px 338px #fff,
    157px 291px #fff, 385px 806px #fff, 1156px 1328px #fff, 302px 1046px #fff,
    1683px 839px #fff, 1255px 359px #fff, 409px 1785px #fff, 1666px 1732px #fff,
    20px 1405px #fff, 54px 1009px #fff, 204px 181px #fff, 947px 1789px #fff,
    282px 122px #fff, 323px 584px #fff, 1559px 1375px #fff, 1109px 1660px #fff,
    591px 1238px #fff, 691px 673px #fff, 1619px 1309px #fff, 1678px 946px #fff,
    1072px 1732px #fff, 1649px 632px #fff, 423px 1920px #fff, 77px 808px #fff,
    462px 742px #fff, 403px 136px #fff, 380px 864px #fff, 1128px 1536px #fff,
    1255px 1948px #fff, 1289px 1102px #fff, 371px 1230px #fff, 155px 1118px #fff,
    1919px 1757px #fff, 1112px 1411px #fff, 149px 1532px #fff, 404px 1332px #fff,
    122px 1976px #fff, 505px 482px #fff, 227px 1574px #fff, 566px 1487px #fff,
    76px 1080px #fff, 1327px 797px #fff, 1937px 363px #fff, 530px 1348px #fff,
    1894px 819px #fff, 833px 691px #fff, 1998px 1269px #fff, 799px 492px #fff,
    310px 104px #fff, 1129px 1017px #fff, 1311px 1775px #fff, 1814px 1867px #fff,
    205px 525px #fff, 1197px 1563px #fff, 10px 823px #fff, 776px 1783px #fff,
    259px 249px #fff, 1472px 1393px #fff, 992px 1172px #fff, 838px 900px #fff,
    1934px 1843px #fff, 511px 1215px #fff, 665px 1741px #fff, 1472px 989px #fff,
    973px 748px #fff, 905px 1381px #fff, 960px 1286px #fff, 1082px 553px #fff,
    990px 1578px #fff, 964px 1737px #fff, 1319px 1399px #fff, 1340px 578px #fff,
    702px 329px #fff, 1913px 466px #fff, 798px 1972px #fff, 1873px 409px #fff,
    1407px 696px #fff, 1657px 1562px #fff, 1532px 858px #fff, 1774px 1310px #fff,
    406px 1587px #fff, 1816px 1174px #fff, 1446px 1086px #fff, 216px 920px #fff,
    89px 645px #fff, 1873px 82px #fff, 536px 981px #fff, 1472px 401px #fff,
    922px 1114px #fff, 1253px 53px #fff, 1009px 329px #fff, 1735px 1636px #fff,
    1043px 1970px #fff, 1316px 1457px #fff, 844px 721px #fff, 1429px 1365px #fff,
    150px 1858px #fff, 485px 743px #fff, 701px 1871px #fff, 1721px 339px #fff,
    79px 221px #fff, 8px 1220px #fff, 734px 1297px #fff, 358px 904px #fff,
    1399px 1644px #fff, 851px 1921px #fff, 873px 1082px #fff, 1799px 540px #fff,
    1014px 1602px #fff, 485px 79px #fff, 692px 525px #fff, 1255px 587px #fff,
    798px 1376px #fff, 400px 32px #fff, 1800px 919px #fff, 169px 986px #fff,
    485px 562px #fff, 1501px 1667px #fff, 1957px 1128px #fff, 908px 1951px #fff,
    439px 882px #fff, 1423px 581px #fff, 301px 1747px #fff, 1777px 494px #fff,
    1387px 922px #fff, 590px 1155px #fff, 1980px 760px #fff, 431px 1848px #fff,
    130px 1433px #fff, 1620px 1638px #fff, 1377px 1235px #fff, 1370px 599px #fff,
    922px 198px #fff, 740px 1157px #fff, 1264px 1464px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1959px 688px #fff, 537px 552px #fff, 803px 1217px #fff,
    431px 226px #fff, 752px 1103px #fff, 496px 198px #fff, 714px 176px #fff,
    1498px 1151px #fff, 1919px 951px #fff, 1490px 480px #fff, 117px 540px #fff,
    876px 46px #fff, 1926px 815px #fff, 1664px 1401px #fff, 1999px 693px #fff,
    1983px 737px #fff, 578px 646px #fff, 222px 232px #fff, 34px 1697px #fff,
    451px 1349px #fff, 578px 267px #fff, 69px 1938px #fff, 861px 1012px #fff,
    369px 1404px #fff, 1183px 50px #fff, 564px 1568px #fff, 824px 1892px #fff,
    411px 401px #fff, 293px 940px #fff, 955px 1649px #fff, 492px 1972px #fff,
    1112px 178px #fff, 1508px 1779px #fff, 1703px 596px #fff, 1818px 166px #fff,
    1656px 1599px #fff, 1017px 338px #fff, 846px 1564px #fff, 1609px 348px #fff,
    1852px 1426px #fff, 373px 45px #fff, 399px 1668px #fff, 134px 1549px #fff,
    1625px 1894px #fff, 1222px 1282px #fff, 785px 75px #fff, 1443px 190px #fff,
    1085px 1813px #fff, 1682px 1184px #fff, 1313px 1515px #fff,
    1812px 1038px #fff, 433px 915px #fff, 1011px 1436px #fff, 771px 1220px #fff,
    12px 1323px #fff, 352px 1077px #fff, 1831px 1514px #fff, 780px 1317px #fff,
    196px 1884px #fff, 827px 1683px #fff, 664px 601px #fff, 1954px 1298px #fff,
    1214px 919px #fff, 796px 271px #fff, 1485px 39px #fff, 1687px 1896px #fff,
    1681px 555px #fff, 1171px 66px #fff, 1032px 756px #fff, 563px 576px #fff,
    1795px 1061px #fff, 1968px 1271px #fff, 1514px 1381px #fff,
    1266px 1382px #fff, 188px 1882px #fff, 1450px 1872px #fff, 958px 1853px #fff,
    1216px 1156px #fff, 104px 506px #fff, 1541px 1146px #fff, 1382px 366px #fff,
    1767px 835px #fff, 1188px 1032px #fff, 585px 355px #fff, 230px 293px #fff,
    525px 1026px #fff, 1742px 1496px #fff, 1373px 1248px #fff,
    1490px 1381px #fff, 1796px 706px #fff, 1689px 1132px #fff, 523px 1870px #fff,
    1820px 892px #fff, 1843px 830px #fff, 452px 922px #fff, 1054px 109px #fff,
    1613px 689px #fff, 1178px 1358px #fff, 1154px 1354px #fff, 1003px 784px #fff,
    480px 63px #fff, 841px 1907px #fff, 1911px 81px #fff, 1409px 678px #fff,
    62px 372px #fff, 1506px 1422px #fff, 1183px 648px #fff, 279px 199px #fff,
    1970px 1079px #fff, 450px 1555px #fff, 1635px 1815px #fff, 141px 842px #fff,
    1220px 1389px #fff, 1834px 119px #fff, 1891px 499px #fff, 50px 1914px #fff,
    143px 1031px #fff, 1348px 287px #fff, 927px 1821px #fff, 454px 1324px #fff,
    1664px 688px #fff, 1982px 411px #fff, 1129px 1344px #fff, 262px 1232px #fff,
    352px 1020px #fff, 1917px 1314px #fff, 908px 1472px #fff, 633px 309px #fff,
    119px 363px #fff, 1338px 1536px #fff, 635px 1866px #fff, 1620px 1036px #fff,
    2px 1176px #fff, 130px 811px #fff, 853px 329px #fff, 1023px 1582px #fff,
    1506px 592px #fff, 1652px 289px #fff, 1912px 1461px #fff, 308px 1716px #fff,
    1711px 138px #fff, 592px 1289px #fff, 1517px 575px #fff, 1697px 144px #fff,
    1180px 275px #fff, 1275px 1990px #fff, 1872px 126px #fff, 1252px 1401px #fff,
    1815px 1529px #fff, 880px 357px #fff, 667px 1876px #fff, 466px 892px #fff,
    775px 1945px #fff, 25px 90px #fff, 1801px 463px #fff, 949px 1689px #fff,
    183px 359px #fff, 1978px 1738px #fff, 1298px 51px #fff, 1147px 1736px #fff,
    1947px 286px #fff, 209px 771px #fff, 344px 1412px #fff, 479px 306px #fff,
    511px 460px #fff, 396px 139px #fff, 1710px 252px #fff, 1678px 457px #fff,
    1596px 1630px #fff, 1365px 1193px #fff, 1669px 1398px #fff, 1065px 35px #fff,
    984px 864px #fff, 1924px 1516px #fff, 327px 264px #fff, 665px 593px #fff,
    176px 879px #fff, 720px 690px #fff, 291px 1525px #fff, 80px 1644px #fff,
    235px 934px #fff, 380px 1973px #fff, 153px 403px #fff, 1323px 1810px #fff,
    642px 1516px #fff, 1537px 1269px #fff, 439px 1736px #fff, 1742px 516px #fff,
    918px 263px #fff, 613px 1950px #fff, 561px 110px #fff, 675px 1369px #fff,
    989px 359px #fff, 179px 1048px #fff, 101px 394px #fff, 211px 1489px #fff,
    1517px 1592px #fff, 413px 15px #fff, 770px 521px #fff, 460px 833px #fff;
  animation: animStar 100s linear infinite;
  -webkit-animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1959px 688px #fff, 537px 552px #fff, 803px 1217px #fff,
    431px 226px #fff, 752px 1103px #fff, 496px 198px #fff, 714px 176px #fff,
    1498px 1151px #fff, 1919px 951px #fff, 1490px 480px #fff, 117px 540px #fff,
    876px 46px #fff, 1926px 815px #fff, 1664px 1401px #fff, 1999px 693px #fff,
    1983px 737px #fff, 578px 646px #fff, 222px 232px #fff, 34px 1697px #fff,
    451px 1349px #fff, 578px 267px #fff, 69px 1938px #fff, 861px 1012px #fff,
    369px 1404px #fff, 1183px 50px #fff, 564px 1568px #fff, 824px 1892px #fff,
    411px 401px #fff, 293px 940px #fff, 955px 1649px #fff, 492px 1972px #fff,
    1112px 178px #fff, 1508px 1779px #fff, 1703px 596px #fff, 1818px 166px #fff,
    1656px 1599px #fff, 1017px 338px #fff, 846px 1564px #fff, 1609px 348px #fff,
    1852px 1426px #fff, 373px 45px #fff, 399px 1668px #fff, 134px 1549px #fff,
    1625px 1894px #fff, 1222px 1282px #fff, 785px 75px #fff, 1443px 190px #fff,
    1085px 1813px #fff, 1682px 1184px #fff, 1313px 1515px #fff,
    1812px 1038px #fff, 433px 915px #fff, 1011px 1436px #fff, 771px 1220px #fff,
    12px 1323px #fff, 352px 1077px #fff, 1831px 1514px #fff, 780px 1317px #fff,
    196px 1884px #fff, 827px 1683px #fff, 664px 601px #fff, 1954px 1298px #fff,
    1214px 919px #fff, 796px 271px #fff, 1485px 39px #fff, 1687px 1896px #fff,
    1681px 555px #fff, 1171px 66px #fff, 1032px 756px #fff, 563px 576px #fff,
    1795px 1061px #fff, 1968px 1271px #fff, 1514px 1381px #fff,
    1266px 1382px #fff, 188px 1882px #fff, 1450px 1872px #fff, 958px 1853px #fff,
    1216px 1156px #fff, 104px 506px #fff, 1541px 1146px #fff, 1382px 366px #fff,
    1767px 835px #fff, 1188px 1032px #fff, 585px 355px #fff, 230px 293px #fff,
    525px 1026px #fff, 1742px 1496px #fff, 1373px 1248px #fff,
    1490px 1381px #fff, 1796px 706px #fff, 1689px 1132px #fff, 523px 1870px #fff,
    1820px 892px #fff, 1843px 830px #fff, 452px 922px #fff, 1054px 109px #fff,
    1613px 689px #fff, 1178px 1358px #fff, 1154px 1354px #fff, 1003px 784px #fff,
    480px 63px #fff, 841px 1907px #fff, 1911px 81px #fff, 1409px 678px #fff,
    62px 372px #fff, 1506px 1422px #fff, 1183px 648px #fff, 279px 199px #fff,
    1970px 1079px #fff, 450px 1555px #fff, 1635px 1815px #fff, 141px 842px #fff,
    1220px 1389px #fff, 1834px 119px #fff, 1891px 499px #fff, 50px 1914px #fff,
    143px 1031px #fff, 1348px 287px #fff, 927px 1821px #fff, 454px 1324px #fff,
    1664px 688px #fff, 1982px 411px #fff, 1129px 1344px #fff, 262px 1232px #fff,
    352px 1020px #fff, 1917px 1314px #fff, 908px 1472px #fff, 633px 309px #fff,
    119px 363px #fff, 1338px 1536px #fff, 635px 1866px #fff, 1620px 1036px #fff,
    2px 1176px #fff, 130px 811px #fff, 853px 329px #fff, 1023px 1582px #fff,
    1506px 592px #fff, 1652px 289px #fff, 1912px 1461px #fff, 308px 1716px #fff,
    1711px 138px #fff, 592px 1289px #fff, 1517px 575px #fff, 1697px 144px #fff,
    1180px 275px #fff, 1275px 1990px #fff, 1872px 126px #fff, 1252px 1401px #fff,
    1815px 1529px #fff, 880px 357px #fff, 667px 1876px #fff, 466px 892px #fff,
    775px 1945px #fff, 25px 90px #fff, 1801px 463px #fff, 949px 1689px #fff,
    183px 359px #fff, 1978px 1738px #fff, 1298px 51px #fff, 1147px 1736px #fff,
    1947px 286px #fff, 209px 771px #fff, 344px 1412px #fff, 479px 306px #fff,
    511px 460px #fff, 396px 139px #fff, 1710px 252px #fff, 1678px 457px #fff,
    1596px 1630px #fff, 1365px 1193px #fff, 1669px 1398px #fff, 1065px 35px #fff,
    984px 864px #fff, 1924px 1516px #fff, 327px 264px #fff, 665px 593px #fff,
    176px 879px #fff, 720px 690px #fff, 291px 1525px #fff, 80px 1644px #fff,
    235px 934px #fff, 380px 1973px #fff, 153px 403px #fff, 1323px 1810px #fff,
    642px 1516px #fff, 1537px 1269px #fff, 439px 1736px #fff, 1742px 516px #fff,
    918px 263px #fff, 613px 1950px #fff, 561px 110px #fff, 675px 1369px #fff,
    989px 359px #fff, 179px 1048px #fff, 101px 394px #fff, 211px 1489px #fff,
    1517px 1592px #fff, 413px 15px #fff, 770px 521px #fff, 460px 833px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 692px 111px #fff, 13px 2px #fff, 1616px 1879px #fff,
    1965px 1736px #fff, 772px 1342px #fff, 828px 1445px #fff, 169px 821px #fff,
    1810px 1495px #fff, 1851px 1485px #fff, 889px 1702px #fff, 557px 228px #fff,
    265px 584px #fff, 457px 964px #fff, 1381px 1114px #fff, 1354px 193px #fff,
    584px 1921px #fff, 311px 1244px #fff, 710px 1118px #fff, 1260px 1123px #fff,
    1527px 1216px #fff, 1438px 993px #fff, 233px 921px #fff, 906px 603px #fff,
    1513px 1885px #fff, 1090px 1539px #fff, 1494px 1518px #fff,
    1038px 485px #fff, 1604px 448px #fff, 499px 449px #fff, 1902px 842px #fff,
    464px 911px #fff, 264px 1572px #fff, 1233px 516px #fff, 1030px 1611px #fff,
    852px 1271px #fff, 897px 1522px #fff, 237px 1299px #fff, 340px 372px #fff,
    1460px 978px #fff, 291px 1106px #fff, 1898px 1422px #fff, 1905px 1222px #fff,
    1679px 312px #fff, 977px 1727px #fff, 1495px 1064px #fff, 1326px 1970px #fff,
    1582px 1734px #fff, 237px 743px #fff, 486px 1565px #fff, 1286px 98px #fff,
    664px 1911px #fff, 522px 523px #fff, 580px 1312px #fff, 1384px 1989px #fff,
    1191px 251px #fff, 896px 1406px #fff, 1880px 292px #fff, 299px 491px #fff,
    399px 749px #fff, 1485px 51px #fff, 1547px 406px #fff, 344px 373px #fff,
    1712px 1591px #fff, 991px 1363px #fff, 553px 145px #fff, 196px 110px #fff,
    605px 371px #fff, 1735px 423px #fff, 436px 534px #fff, 192px 645px #fff,
    889px 1012px #fff, 707px 168px #fff, 1872px 1705px #fff, 1177px 972px #fff,
    1125px 1019px #fff, 502px 626px #fff, 544px 603px #fff, 1169px 1816px #fff,
    1361px 1799px #fff, 666px 1028px #fff, 1609px 1890px #fff, 1234px 758px #fff,
    1001px 831px #fff, 554px 565px #fff, 1830px 535px #fff, 1007px 1495px #fff,
    493px 1387px #fff, 174px 1504px #fff, 353px 10px #fff, 358px 73px #fff,
    1185px 1838px #fff, 642px 1673px #fff, 1051px 881px #fff, 758px 217px #fff,
    99px 317px #fff, 1475px 1922px #fff, 298px 990px #fff, 1952px 716px #fff,
    329px 131px #fff, 192px 741px #fff;
  animation: animStar 150s linear infinite;
  -webkit-animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 692px 111px #fff, 13px 2px #fff, 1616px 1879px #fff,
    1965px 1736px #fff, 772px 1342px #fff, 828px 1445px #fff, 169px 821px #fff,
    1810px 1495px #fff, 1851px 1485px #fff, 889px 1702px #fff, 557px 228px #fff,
    265px 584px #fff, 457px 964px #fff, 1381px 1114px #fff, 1354px 193px #fff,
    584px 1921px #fff, 311px 1244px #fff, 710px 1118px #fff, 1260px 1123px #fff,
    1527px 1216px #fff, 1438px 993px #fff, 233px 921px #fff, 906px 603px #fff,
    1513px 1885px #fff, 1090px 1539px #fff, 1494px 1518px #fff,
    1038px 485px #fff, 1604px 448px #fff, 499px 449px #fff, 1902px 842px #fff,
    464px 911px #fff, 264px 1572px #fff, 1233px 516px #fff, 1030px 1611px #fff,
    852px 1271px #fff, 897px 1522px #fff, 237px 1299px #fff, 340px 372px #fff,
    1460px 978px #fff, 291px 1106px #fff, 1898px 1422px #fff, 1905px 1222px #fff,
    1679px 312px #fff, 977px 1727px #fff, 1495px 1064px #fff, 1326px 1970px #fff,
    1582px 1734px #fff, 237px 743px #fff, 486px 1565px #fff, 1286px 98px #fff,
    664px 1911px #fff, 522px 523px #fff, 580px 1312px #fff, 1384px 1989px #fff,
    1191px 251px #fff, 896px 1406px #fff, 1880px 292px #fff, 299px 491px #fff,
    399px 749px #fff, 1485px 51px #fff, 1547px 406px #fff, 344px 373px #fff,
    1712px 1591px #fff, 991px 1363px #fff, 553px 145px #fff, 196px 110px #fff,
    605px 371px #fff, 1735px 423px #fff, 436px 534px #fff, 192px 645px #fff,
    889px 1012px #fff, 707px 168px #fff, 1872px 1705px #fff, 1177px 972px #fff,
    1125px 1019px #fff, 502px 626px #fff, 544px 603px #fff, 1169px 1816px #fff,
    1361px 1799px #fff, 666px 1028px #fff, 1609px 1890px #fff, 1234px 758px #fff,
    1001px 831px #fff, 554px 565px #fff, 1830px 535px #fff, 1007px 1495px #fff,
    493px 1387px #fff, 174px 1504px #fff, 353px 10px #fff, 358px 73px #fff,
    1185px 1838px #fff, 642px 1673px #fff, 1051px 881px #fff, 758px 217px #fff,
    99px 317px #fff, 1475px 1922px #fff, 298px 990px #fff, 1952px 716px #fff,
    329px 131px #fff, 192px 741px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1000px);
  }
}

@-webkit-keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1000px);
  }
}

@keyframes animStar-up {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(1000px);
  }
}

@-webkit-keyframes animStar-up {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(1000px);
  }
}
