:root {
  --main-text-color: #bc2365;
  --secondary-text-color: #ff6a45;
  --headline-shadow-color: #51013d;
  --secondary-shadow-color: #a83b20;
  --headline-glow-color: #eb1e95;
  --main-border-color: #73bcbe;
  --secondary-border-color: #c1e035;
  --border-highlight-color: #48eb32;
  --background-main-color: #191324;
  --background-secondary-color: #1f0058;
  --screen-tint-color: rgba(57, 93, 211, 0.2);
}

html {
  background: radial-gradient(
    ellipse at left,
    var(--background-secondary-color) 0%,
    var(--background-main-color) 100%
  );
  background-size: 200% 200%;
}

body {
  font-family: "Asap", sans-serif;
  perspective: 340px;
}

.name-header {
  display: block;
  margin: auto;
  width: 75%;
  padding: auto;
  border: 3px solid var(--main-border-color);
  background: var(--screen-tint-color);
  border-radius: 8px;
}

.name-header h1 {
  margin: 10% 15% 5% 15%;
  align-self: center;
  text-align: center;
  transition-duration: 0.3s;
}
.name-header h2 {
  color: var(--secondary-text-color);
  margin: 0%;
  align-self: left;
  text-align: left;
  transition-duration: 0.3s;
  transform-style: preserve-3d;
  transform: rotateX(15deg);
  text-shadow: 0 1px 0 var(--secondary-shadow-color),
    0 2px 0 var(--secondary-shadow-color), 0 3px 0 var(--secondary-shadow-color),
    0 4px 0 var(--secondary-shadow-color), 0 7px 20px #3d04a0a4;
}

.headline-name {
  color: var(--main-text-color);
  font-size: 54px;
  letter-spacing: 0.1em;
}
.headline-name:hover {
  transform: translateY(30px);
  transition-duration: 0.3s;
}

.byline-container {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  padding: 2%;
}

@media only screen and (max-width: 700px) {
  .byline-container {
    column-count: 1;
  }
}

.byline-container ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.byline-container li {
  border: 2px dotted rgba(40, 117, 218, 0.2);
  border-radius: 8px;
  background: rgba(34, 34, 214, 0.363);
  padding: 10px;
  position: relative;
  padding-left: 3.6em;
  margin-bottom: 5px;
}

.byline-container li::before {
  content: "";
  display: inline;
  top: 0.5em;
  left: 0.5em;
  position: absolute;
  transform-style: preserve-3d;
}

.byline-container li.hacker::before {
  content: "📺 🔥";
}
.byline-container li.frisbee::before {
  content: "🥏 💯";
}
.byline-container li.astronaut::before {
  content: "💰 🚀";
}
.byline-container li.vr-dev::before {
  content: "🤖 🧐";
}
.byline-container li.boozeologist::before {
  content: "🍾 📈";
}

.byline-text {
  margin: 0%;
}

.main-text {
  width: 75%;
  border: 3px solid var(--main-border-color);
  border-radius: 8px;
  margin: auto;
  color: var(--secondary-text-color);
}

.bio {
  width: 90%;
  margin: 5% auto;
}

.headshot {
  float: left;
  margin: 1%;
  width: 5em;
  clip-path: circle(40px at center);
}

.headshot:hover {
  transform: scale(1.2);
  transition-duration: 0.1s;
}

.main-text p {
  padding: 5%;
  color: var(--secondary-text-color);
}

.submain-text {
  padding: 2% 5%;
  display: flex;
}

.popout-box {
  font-size: 12px;
  display: inline-flex;
  text-align: center;
  border: 3px solid var(--secondary-border-color);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.popout-box:hover {
  transform: scale(1.05);
  border: 3px solid var(--border-highlight-color);
  transition-duration: 0.2s;
}

.rotate-scale-down {
  -webkit-animation: rotate-scale-down 0.65s linear both;
  animation: rotate-scale-down 0.65s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-26 9:37:29
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-down
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

.shadow-pop-tl {
  -webkit-animation: shadow-pop-tl 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tl 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-26 9:39:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-tl
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tl {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e,
      -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e,
      -8px -8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(8px);
    transform: translateX(8px) translateY(8px);
  }
}
@keyframes shadow-pop-tl {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e,
      -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e,
      -8px -8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(8px);
    transform: translateX(8px) translateY(8px);
  }
}

.shadow-inset-center {
  -webkit-animation: shadow-inset-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-26 9:40:48
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-inset-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: text-pop-up-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-27 20:52:52
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 var(--headline-shadow-color),
      0 2px 0 var(--headline-shadow-color), 0 3px 0 var(--headline-shadow-color),
      0 4px 0 var(--headline-shadow-color), 0 5px 0 var(--headline-shadow-color),
      0 6px 0 var(--headline-shadow-color), 0 7px 0 var(--headline-shadow-color),
      0 8px 0 var(--headline-shadow-color), 0 9px 0 var(--headline-shadow-color),
      0 30px 30px var(--headline-glow-color);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 var(--headline-shadow-color),
      0 2px 0 var(--headline-shadow-color), 0 3px 0 var(--headline-shadow-color),
      0 4px 0 var(--headline-shadow-color), 0 5px 0 var(--headline-shadow-color),
      0 6px 0 var(--headline-shadow-color), 0 7px 0 var(--headline-shadow-color),
      0 8px 0 var(--headline-shadow-color), 0 9px 0 var(--headline-shadow-color),
      0 15px 40px var(--headline-glow-color);
  }
}
